<div class="txt-right">
    <h2 mat-dialog-title class="text-center"><small class="txt-title-muted">Editar </small><span class="text-blue-big">Perfil</span></h2>
    <mat-grid-list cols="12" rowHeight="1:5">
        <mat-grid-tile colspan="5" style="margin-left:1%;">
            <form [formGroup]="updateForm" (ngSubmit)="register()" novalidate="novalidate">
                <mat-form-field class="full-width">
                    <input type="text" class="input-form" matInput placeholder="Nombre(s)" [(ngModel)]="renter.names" formControlName="names" required>
                    <mat-error *ngIf="updateForm.get('names').invalid">{{getErrorMessageNames()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="mid-width">
                    <input type="text" class="input-form" matInput placeholder="Apellido Paterno" [(ngModel)]="renter.firstLastName" formControlName="firstLastName" required>
                    <mat-error *ngIf="updateForm.get('firstLastName').invalid">{{getErrorMessageF()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" class="input-form" matInput placeholder="Apellido Materno" [(ngModel)]="renter.secondLastName" formControlName="secondLastName" required>
                    <mat-error *ngIf="updateForm.get('secondLastName').invalid">{{getErrorMessageS()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="tel" class="input-form" matInput placeholder="Teléfono" [(ngModel)]="renter.phoneNumber" formControlName="phoneNumber" required>
                    <mat-error *ngIf="updateForm.get('phoneNumber').invalid">{{getErrorMessagePhone()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="email" class="input-form" matInput placeholder="Correo Electrónico" [(ngModel)]="renter.email" formControlName="email" required>
                    <mat-error *ngIf="updateForm.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="password" class="input-form" matInput placeholder="Contraseña" #renter.password formControlName="password" required>
                    <mat-error *ngIf="updateForm.get('password').invalid">{{getErrorMessagePass()}}</mat-error>
                </mat-form-field>
                <button class="btn-rounded full-width" style="margin-top: 5%;" mat-raised-button>Registrarme</button>
            </form>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<!-- 
    <div *ngIf="isRenter" class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  <span class="text-center">
                        Editar <span class="text-blue-big">Perfil</span>    
                  </span>
                  
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <br>
                        <img src="./assets/img/usrPrueba.png" class="rounded-circle" width="200" height="200">
                    </div>
                    <div class="col-md-7">
                            <form [formGroup]="updateForm" (ngSubmit)="register()" novalidate="novalidate">
                                    <mat-form-field class="full-width">
                                        <input type="text" class="input-form" matInput placeholder="Nombre(s)" [(ngModel)]="renter.names" formControlName="names" required>
                                        <mat-error *ngIf="updateForm.get('names').invalid">{{getErrorMessageNames()}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field style="padding-right: 10%;" class="mid-width">
                                        <input type="text" class="input-form" matInput placeholder="Apellido Paterno" [(ngModel)]="renter.firstLastName" formControlName="firstLastName" required>
                                        <mat-error *ngIf="updateForm.get('firstLastName').invalid">{{getErrorMessageF()}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="mid-width">
                                        <input type="text" class="input-form" matInput placeholder="Apellido Materno" [(ngModel)]="renter.secondLastName" formControlName="secondLastName" required>
                                        <mat-error *ngIf="updateForm.get('secondLastName').invalid">{{getErrorMessageS()}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="full-width">
                                        <input type="email" class="input-form" matInput placeholder="Correo Electrónico" [(ngModel)]="renter.email" formControlName="email" required>
                                        <mat-error *ngIf="updateForm.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="mid-width">
                                            <input type="tel" class="input-form" matInput placeholder="Teléfono" [(ngModel)]="renter.phoneNumber" formControlName="phoneNumber" required>
                                            <mat-error *ngIf="updateForm.get('phoneNumber').invalid">{{getErrorMessagePhone()}}</mat-error>
                                        </mat-form-field>
                                    <br>
                                    <mat-form-field class="mid-width">
                                        <input type="password" class="input-form" matInput placeholder="Contraseña" #renter.password formControlName="password" required>
                                        <mat-error *ngIf="updateForm.get('password').invalid">{{getErrorMessagePass()}}</mat-error>
                                    </mat-form-field>
                                   </form>
                    </div>
                </div>
                            
                       
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Modificar</button>
            </div>
          </div>
        </div>
        
      </div>
    
      <div *ngIf="isBroker" class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      <span class="text-center">
                            Editar <span class="text-blue-big">Perfil</span>    
                      </span>
                      
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                                <form [formGroup]="updateForm" (ngSubmit)="register()" novalidate="novalidate">
                                    <mat-form-field class="full-width">
                                        <input type="text" class="input-form" matInput placeholder="Nombre(s)" [(ngModel)]="renter.names" formControlName="names" required>
                                        <mat-error *ngIf="updateForm.get('names').invalid">{{getErrorMessageNames()}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field style="padding-right: 10%;">
                                        <input type="text" class="input-form" matInput placeholder="Apellido Paterno" [(ngModel)]="renter.firstLastName" formControlName="firstLastName" required>
                                        <mat-error *ngIf="updateForm.get('firstLastName').invalid">{{getErrorMessageF()}}</mat-error>
                                    </mat-form-field>
                                    
                                   </form>
                           
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Modificar</button>
                </div>
              </div>
            </div>
            
          </div> -->