<div id="carouselPrincipal"
    class="carousel slide"
    data-ride="carousel">
    <ol class="carousel-indicators">
        <li *ngFor="let x of items; let i=index"
            data-target="#carouselPrincipal"
            data-slide-to="i"
            [ngClass]="{ 'active': i===0}"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item"
            *ngFor="let x of items; let i=index"
            [ngClass]="{ 'active': i===0 }">
            <img [src]="x.url"
                class="d-block w-100 img-carousel">
        </div>
    </div>
    <div class="img-overlay">
        <div class="row">
            <div class="col-lg-3 col-xl-3 col-md-3 d-none d-md-block text-left p-5">
                <div class="row">
                    <div class="col-12 my-2">
                        <a [href]="link.linkFacebook"
                            target="_blank">
                            <button class="btn btn-sm btn-dark rounded-circle"
                                style="height: 45px; width: 45px">
                                <fa-icon [icon]="[ 'fab', 'facebook-f']" size="2x"></fa-icon>
                            </button>
                        </a>
                    </div>
                    <div class="col-12 my-2">
                        <a [href]="link.linkInstagram"
                            target="_blank">
                            <button class="btn btn-sm btn-dark rounded-circle"
                                style="height: 45px; width: 45px">
                                <fa-icon [icon]="[ 'fab', 'instagram']" size="2x"></fa-icon>
                            </button>
                        </a>
                    </div>
                    <div class="col-12 my-2">
                        <a [href]="link.linkLinkedIn"
                            target="_blank">
                            <button class="btn btn-sm btn-dark rounded-circle"
                                style="height: 45px; width: 45px">
                                <fa-icon [icon]="[ 'fab', 'linkedin-in']" size="2x"></fa-icon>
                            </button>
                        </a>
                    </div>
                    <div class="col-12 my-2">
                        <a [href]="link.linkTwitter"
                            target="_blank">
                            <button class="btn btn-sm btn-dark rounded-circle"
                                style="height: 45px; width: 45px">
                                <fa-icon [icon]="[ 'fab', 'twitter']" size="2x"></fa-icon>
                            </button>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-sm-10 col-md-6 col-lg-6 col-xl-6">
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text"
                                class="form-control input-transparent"
                                placeholder="Busca tu propiedad ideal">
                            <div class="input-group-append">
                                <button class="btn btn-black btn-transparent"
                                    type="button">
                                    <fa-icon class="text-white" [icon]="[ 'fas', 'angle-down']" size="2x"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-md-5 mt-lg-5 mt-xl-5 mt-sm-0">
                        <a href="{{link.linkAppStore}}"
                            target="_blank"
                            class="bg-transparent m-1">
                            <img src="./assets/img/appstore.png">
                        </a>
                        <a href="{{link.linkPlayStore}}"
                            target="_blank"
                            class="bg-transparent m-1">
                            <img src="./assets/img/googleplay.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>