<div class="txt-right">
    <h2 mat-dialog-title><small class="txt-title-muted">Recuperar </small><span class="txt-title"> Contraseña</span></h2>
</div>
<mat-grid-list cols="12" rowHeight="1:3">
    <mat-grid-tile colspan="6">
        <div class="example-button-row">
            <h1 class="txt-muted full-width">Ingresa tu email y te enviaremos un link para restaurar tu contraseña</h1>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
        <form class="my-form">
            <mat-form-field class="full-width">
                <input type="email" matInput placeholder="Correo Electrónico" name="email">
            </mat-form-field>
        </form>
        <button class="custom-button full-width" mat-raised-button color="primary">Registrarme</button>
        <p class="txt-muted txt-center"><small>El correo puede tardar un minuto en llegar. Revisa tu spam. <a routerLink="/password-recovery">Volver a envíar</a></small></p>
    </mat-grid-tile>
</mat-grid-list>