<div class="txt-right">
    <h2 mat-dialog-title><small class="txt-title-muted">Ingresar </small><span class="txt-title"> Login</span></h2>
</div>
<mat-grid-list cols="12" rowHeight="1:3">
    <mat-grid-tile colspan="6">
        <form [formGroup]="loginForm" (ngSubmit)="logIn()" novalidate>
            <mat-form-field class="full-width">
                <input type="email" class="input-form" matInput placeholder="Correo Electrónico" formControlName="email" required>
                <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input [type]="isHide ? 'password' : 'text'" class="input-form" matInput placeholder="Contraseña" formControlName="password" required>
                <fa-icon *ngIf="isHide" matSuffix (click)="isHide = !isHide" [icon]="['fas', 'eye-slash']"></fa-icon>
                <fa-icon *ngIf="!isHide" matSuffix (click)="isHide = !isHide" [icon]="['fas', 'eye']"></fa-icon>
                <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorMessagePass()}}</mat-error>
            </mat-form-field>
            <a (click)="openReecovery()" class="full-width">Recuperar mi contraseña</a>
            <button type="submit" class="btn-rounded full-width" mat-raised-button>Ingresar</button>

            <mat-error class="mt-4 text-center">{{errorLogin}}</mat-error>
        </form>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <h1 class="txt-muted">ó</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
        <div class="example-button-row">
            <h1 class="txt-muted full-width">Ingresar con:</h1>
            <div class="flex">
                <button mat-fab class="btn-black">
                        <fa-icon [icon]="['fab', 'facebook-f']" size="2x"></fa-icon>
                    </button>
                <button mat-fab class="btn-black">
                        <fa-icon [icon]="['fab', 'google']" size="2x"></fa-icon>
                    </button>
            </div>
        </div>

    </mat-grid-tile>
</mat-grid-list>