<nav class="navbar navbar-expand-lg navbar-overlay pb-1" style="background-color: rgba(0, 0, 0, 0);">
    <a class="navbar-brand" [routerLink]="['home']">
        <img src="./assets/img/logoSeguRenta_bco.png" width="150" height="40" class="d-inline-block align-top img-responsive">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="!isLoggedIn" class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <button class="btn btn-sm btn-outline-light btn-block m-1 col-1 thin" type="button" style="border-radius: 8px; font-size: 0.7rem;" (click)="openRegister()">Registrarse</button>
        <button class="btn btn-sm btn-outline-light btn-block m-1 col-1 thin" type="button" style="border-radius: 8px; font-size: 0.7rem;" (click)="openLogin() ">Entrar</button>
    </div>

    <div *ngIf="isLoggedIn" class="collapse navbar-collapse d-flex justify-content-end">
        <a class="btn btn-default btn-link text-white">
            <fa-icon class="pr-3 " [icon]="[ 'fas', 'bell'] "></fa-icon>
        </a>
        <span class="badge badge-notify rounded-circle text-white thin">9</span>
        <div class="dropdown">
            <a class="rounded-circle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img [src]="datosUsuario.urlImagen" class="rounded-circle" width="50" height="50">
            </a>
            <div class="dropdown-menu dropdown-menu-right text-right drop-with" aria-labelledby="dropdownMenuButton">
                <h3 class="dropdown-header title-profile"><small class="h6"></small> {{ datosUsuario.perfilName }}</h3>
                <a class="dropdown-item-text item-profile thin py-0" (click)="openUpdateUser()">Editar Perfil</a>
                <a class="dropdown-item-text item-profile mb-5 py-0 pointer" (click)="sessionService.logout()"><small class="thin">Cerrar Sesión</small></a>
                <span *ngIf="datosUsuario.perfiles.length > 1">
                    <h2 class="dropdown-header thin item-profile">Mis Cuentas</h2>
                    <div class="row d-flex" *ngFor="let perfil of datosUsuario.perfiles">
                        <div class="col-6 no-padding cuenta-text">
                            <div class="dropdown-item-text item-profile thin py-0" href="#">{{ perfil.descripcion }}</div>
                        </div>
                        <div class="col-6 no-padding">
                            <a class="dropdown-item-text item-profile py-0">
                                <small *ngIf="perfil.idPerfil != datosUsuario.tipoUsuarioDefault" (click)="changeProfile(perfil.idPerfil)" class="thin">Cambiar</small>
                                <small *ngIf="perfil.idPerfil == datosUsuario.tipoUsuarioDefault" class="thin active-item">Activa</small>
                            </a>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-2">
            <p class="row text-left m-0 thin small">{{ datosUsuario.nombre }} {{ datosUsuario.apellidoPaterno }}</p>
            <p class="row text-left m-0 thin small">{{ datosUsuario.tipousuarioDefault }}</p>
        </div>
    </div>
</nav>

<!-- <a (click)="openUpdateRenterData()" role="button">
            <img src="./assets/img/usrPrueba.png" class="rounded-circle" width="30" height="30">
        </a> -->