.badge-notify {
    background: red;
    position: relative;
    top: -10px;
    left: -35px;
}

.navbar-overlay {
    margin-bottom: -110px;
    z-index: 9;
}

.modal-backdrop {
    z-index: auto;
}

.text-blue-big {
    color: #0D62B7;
    font-size: 40px;
}

.text-center {
    text-align: center;
}

.mid-width {
    width: 40%;
}

.title-profile {
    font-size: 1.8rem !important;
    color: #0D62B7 !important;
}

.item-profile {
    font-size: 1.2rem !important;
    color: #BABABA;
}

.active-item {
    color: #0D62B7 !important;
}

.pointer {
    cursor: pointer;
}

.drop-with {
    min-width: max-content;
}

.no-padding {
    padding: 0%
}

.cuenta-text {
    text-align: left;
}