<nav class="navbar navbar-expand-lg navbar-overlay pb-1" style="background-color: rgba(0, 0, 0, 0);">
    <a class="navbar-brand" [routerLink]="['home']">
        <img src="./assets/img/logoSeguRenta_bco.png" width="150" height="40" class="d-inline-block align-top img-responsive">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="!(isLoggedIn | async)" class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <button class="btn btn-sm btn-outline-light btn-block m-1 col-1 thin" type="button" style="border-radius: 8px; font-size: 0.7rem;" (click)="openRegister()">Registrarse</button>
        <button class="btn btn-sm btn-outline-light btn-block m-1 col-1 thin" type="button" style="border-radius: 8px; font-size: 0.7rem;" (click)="openLogin() ">Entrar</button>
    </div>

    <div *ngIf="isLoggedIn | async" class="collapse navbar-collapse d-flex justify-content-end">
        <a class="btn btn-default btn-link text-white">
            <fa-icon class="pr-3 " [icon]="[ 'fas', 'bell'] "></fa-icon>
        </a>
        <span class="badge badge-notify rounded-circle text-white thin">9</span>
        <a (click)="openUpdateRenterData()" role="button">
            <img src="./assets/img/usrPrueba.png" class="rounded-circle" width="30" height="30">
        </a>
    </div>
</nav>