<!-- =============================================== -->
<!-- Main Home - Aqui se cargan los compoenntes.     -->
<!-- =============================================== -->

<app-carousel></app-carousel>

<div class="col-sm-12">
    <div class="my-4">
        <h2><span class="text-muted"><u>P</u>ropiedades</span> Más Recientes</h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-hover border-0">
                <img class="card-img-top " src="./assets/img/1.jpg">
                <div class="card-img-overlay">
                    <div class="row" style="background-color: rgba(255, 255, 255, 0.58);">
                        <div class="col-6">
                            <p class="h4 text-white font-weight-bold">Disponible</p>
                        </div>
                        <div class="col-6">
                            <p class="h4 text-white">17,000</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-img-overlay d-flex align-content-between flex-wrap">
                    <div class="row w-100" style="background-color: rgba(255, 255, 255, 0.58);">
                        <p class="h4 text-white font-weight-bold">Disponible</p>
                        <p class="h4 text-white">17,000</p>
                    </div>
                    <div class="row w-100" style="background-color: rgba(255, 255, 255, 0.58);">
                        <p class="col-12 p-0 mb-0 text-white font-weight-bold">Renta de Oficina</p>
                        <p class="col-12 p-0 mb-0 text-white font-weight-bold">Perisur, CDMX</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-content-between flex-wrap">...</div>

<app-propiedades-recientes></app-propiedades-recientes>

<app-publicar></app-publicar>

<app-explorar-zona></app-explorar-zona>

<!-- =============================================== -->
<!-- End Main Home - Aqui se cargan los compoenntes. -->
<!-- =============================================== -->