<!-- =============================================== -->
<!-- Main Home - Aqui se cargan los compoenntes.     -->
<!-- =============================================== -->

<app-carousel></app-carousel>

<app-propiedades-recientes></app-propiedades-recientes>

<app-publicar></app-publicar>

<app-explorar-zona></app-explorar-zona>

<!-- =============================================== -->
<!-- End Main Home - Aqui se cargan los compoenntes. -->
<!-- =============================================== -->