<footer class="footer">
    <div class="container-fluid">
        <br>
        <div class="row align-items-center text-center">
            <div class="col-4">
                <div class="col">
                    <img src="./assets/img/logoSeguRenta_bco.png" width="250" height="70" class="d-inline-block align-top">
                </div>
                <div class="col">
                    <h2>{{ year }}</h2>
                </div>
            </div>
            <div class="col-4">
                <p>Acerca de</p>
                <p>
                    <a (click)="openViewer()">Términos y Condiciones</a> <br>
                    <a (click)="openViewer()">Políticas de Privacidad</a>
                </p>
                <p>
                    with <span style="color: yellow">♥</span> by Stratplus
                </p>
            </div>
            <div class="col-1">
                <div class="col-sm-12 mt-2 mb-2">
                    <a [href]="link.linkFacebook" target="_blank">
                        <button class="btn btn-sm btn-light rounded-circle" width="20" heigth="20">
                        <!-- <fa-icon [icon]="[ 'fab', 'facebook-f']"></fa-icon> -->
                    </button>
                    </a>
                </div>
                <div class="col-sm-12 mb-2">
                    <a [href]="link.linkInstagram" target="_blank">
                        <button class="btn btn-sm btn-light rounded-circle" width="20" heigth="20">
                        <!-- <fa-icon [icon]="[ 'fab', 'instagram']"></fa-icon> -->
                    </button>
                    </a>
                </div>
                <div class="col-sm-12 mb-2">
                    <a [href]="link.linkTwitter" target="_blank">
                        <button class="btn btn-sm btn-light rounded-circle" width="20" heigth="20">
                            <!-- <fa-icon [icon]="[ 'fab', 'twitter']"></fa-icon> -->
                        </button>
                    </a>
                </div>
                <div class="col-sm-12 mb-2">
                    <a [href]="link.linkLinkedIn" target="_blank">
                        <button class="btn btn-sm btn-light rounded-circle" width="20" heigth="20">
                            <!-- <fa-icon [icon]="[ 'fab', 'linkedin-in']"></fa-icon> -->
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <p>
                    <a>Ayuda</a> | <a>FAQ</a><br> <a>Contáctanos</a>
                </p>
            </div>
        </div>
    </div>
</footer>