<!-- Second section: Propiedades Màs Recientes  -->
<div class="container-fluid">

    <div class="col-sm-12">
        <div class="my-4">
            <h2><span class="text-muted"><u>P</u>ropiedades</span> Más Recientes</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-md-3" *ngFor="let picture of pictures">
                <div class="card">
                    <img class="card-img-top img-fluid responsive-height" [src]="picture.img">
                    <div class="card-img-overlay p-0 responsive-height">
                        <div class="row box-info d-flex align-content-between flex-wrap">
                            <div class="row box-title">
                                <div class="col-6 text-left">
                                    <p class="text-responsive text-white font-weight-bold text-truncate">{{ picture.state }}</p>
                                </div>
                                <div class="col-6 text-right">
                                    <p class="text-responsive mb-0 text-white text-break">{{ picture.price | currency }}</p>
                                    <small class="text-white small-responsive">{{ picture.period }}</small>
                                </div>
                            </div>
                            <div class="row box-footer">
                                <div class="col-12 text-left text-wrap">
                                    <p class="text-responsive mb-0 text-white font-weight-bold text-break">{{ picture.propertyType }}</p>
                                    <small class="text-white font-weight-bold text-break small-responsive">{{ picture.location }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row reveal d-flex align-content-center flex-wrap">
                            <div class="flex-fill text-center">
                                <a class="" data-toggle="modal" data-target=".property-video-modal">
                                    <fa-icon class="icon" [icon]="[ 'fas', 'play']"></fa-icon>
                                    <small class="text-white">Video</small>
                                </a>
                            </div>
                            <div class="flex-fill text-center">
                                <a class="">
                                    <fa-icon class="icon" [icon]="['fas', 'ellipsis-h']"></fa-icon>
                                    <small class="text-white">Más</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade property-video-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl bg-transparent">
            <div class="modal-content bg-transparent">
                <div class="row">
                    <div class="col-12 rounded d-flex align-items-center" style="height: 75vh;">
                        <img src="./assets/img/1.jpg" class="col-12 p-0 rounded img-fluid" style="max-height: 67vh;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 rounded d-flex align-items-center my-2" style="color: white;">
                        <div class="col-sm-12 col-md-2">
                            <h5>{{ property.precioRenta | currency }}</h5>
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <fa-icon [icon]="[ 'fas', 'expand-arrows-alt']" size="2x"></fa-icon>150
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <fa-icon [icon]="[ 'fas', 'bed']" size="2x"></fa-icon>3
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <fa-icon [icon]="[ 'fas', 'toilet']" size="2x"></fa-icon>2
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <fa-icon [icon]="[ 'fas', 'bed']" size="2x"></fa-icon>3
                        </div>
                        <div class="col-sm-12 col-md-1" style="border-right: white 1px solid;">
                            <fa-icon [icon]="[ 'fas', 'toilet']" size="2x"></fa-icon>2
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <fa-icon [icon]="[ 'far', 'heart']" size="2x"></fa-icon>
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <fa-icon [icon]="[ 'far', 'heart']" size="2x"></fa-icon>
                        </div>
                        <div class="col-sm-12 col-md-1" style="border-right: white 1px solid;">
                            <fa-icon [icon]="[ 'far', 'heart']" size="2x"></fa-icon>
                        </div>
                        <div class="col-sm-12 col-md-1">
                            <fa-icon [icon]="[ 'fas', 'ellipsis-h']" size="2x"></fa-icon>Más
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>