/* .card-hover .reveal {
    visibility: hidden;
    opacity: 0;
    height: 100%;
    padding: 0;
}

.card-hover:hover .reveal {
    height: 80%;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
}

.bg-gray {
    background-color: rgba(0, 0, 0, 0.5);
}

.icon-left {
    padding-left: 30%;
}

.text-card-white {
    color: white;
}

.icon {
    font-size: 48px;
    color: white;
}

@media (min-width: 992px) and (max-width: 1204px) {
    .icon {
        font-size: 24px;
        color: white;
    }
    .text-card-white {
        color: white;
        font-size: 10px;
    }
} */

.box-info {
    padding: 0 0 0 0 !important;
    margin: 0 !important;
}

.card-img-overlay .box-info {
    height: 100% !important;
    padding: 0 !important;
}

.card-img-overlay:hover .box-info {
    display: none !important;
    opacity: 0 !important;
    transition: opacity 1s ease !important;
}

div.box-title {
    background-color: rgba(255, 255, 255, 0.58) !important;
    padding: 1% 1% 1% 1% !important;
    margin: 0 !important;
    width: 100% !important;
    height: 25% !important;
}

div.box-footer {
    background-color: rgba(255, 255, 255, 0.58) !important;
    padding: 1% 1% 1% 1% !important;
    margin: 0 0 0 0 !important;
    height: 25% !important;
    width: 100% !important;
}

.reveal {
    padding: 1% 1% 1% 1% !important;
    margin: 0 !important;
}

.card-img-overlay .reveal {
    background-color: rgba(0, 0, 0, 0.58) !important;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    padding: 0;
}

.card-img-overlay:hover .reveal {
    height: 100%;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
}

.responsive-height {
    height: 30vh !important;
}

.text-responsive {
    font-size: 1.3vw;
}

.small-responsive {
    font-size: 0.8vw;
}


/* @media (min-width: 411px) and (max-width: 767px) {
    .text-responsive {
        font-size: 4vw !important;
    }
    .small-responsive {
        font-size: 2.8vw !important;
    }
} */


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */


/* @media screen and (min-width: 601px) {
    .text-responsive {
        font-size: 4vw !important;
    }
    .small-responsive {
        font-size: 2.8vw !important;
    }
} */


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */


/* @media screen and (max-width: 600px) {
    .text-responsive {
        font-size: 4vw !important;
    }
    .small-responsive {
        font-size: 2.8vw !important;
    }
} */