<div class="container-fluid p-0">
    <!-- First section: Header  -->
    <div class="row col-sm-12 m-0 p-0">
        <img src="./assets/img/imgPrueba2.png" class="img-fluid w-100 h-100" />
        <div class="img-overlay">
            <div class="row">
                <div class="col-5">
                    <p class="h3 text-white "><strong>Obtén el <span class="h1 ">10%</span></strong></p>
                    <p class="h3 text-white "><strong>En </strong><span class="h1 ">todas</span></p>
                    <p class="h3 text-white "><strong>tus comisiones</strong></p>
                    <p class="h1 text-primary "><strong>Solo Febrero</strong></p>
                </div>
            </div>

        </div>
    </div>

    <!-- Second section: Opciones -->
    <div class="row col-12 m-0 p-0 ">
        <div class="col-sm text-center py-5" style="background-color: black;border-right: 1px solid white;">
            <a [href]="linkFacebook" class="mx-3" target="_blank">
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px">
                  <fa-icon [icon]="[ 'far', 'clock']" size="2x"></fa-icon>
                </button>
            </a>
            <a [href]="linkTwitter" class="mx-3" target="_blank">
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px">
                  <fa-icon [icon]="[ 'fas', 'book']" size="2x"></fa-icon>
                </button>
            </a>
            <a [href]="linkInstagram" class="mx-3" target="_blank">
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px">
                  <fa-icon [icon]="[ 'fas', 'dollar-sign']" size="2x"></fa-icon>
                </button>
            </a>
            <a [href]="linkTwitter" class="mx-3" target="_blank">
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px">
                  <fa-icon [icon]="[ 'fas', 'plus']" size="2x"></fa-icon>
                </button>
            </a>
            <a [href]="linkLinkedIn" class="mx-3" target="_blank">
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px">
                  <fa-icon [icon]="[ 'fas', 'hiking']" size="2x"></fa-icon>
                </button>
            </a>
            <a [href]="linkInstagram" class="mx-3" target="_blank">
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px">
                  <fa-icon [icon]="[ 'fas', 'home']" size="2x"></fa-icon>
                </button>
            </a>
            <a [href]="linkLinkedIn" class="mx-3" target="_blank">
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px">
                  <fa-icon [icon]="[ 'far', 'calendar-alt']" size="2x"></fa-icon>
                </button>
            </a>

        </div>
    </div>

    <!-- Third section: Propiedades Màs Recientes  -->
    <div class="row col-sm-12 m-0 p-0">
        <div class="col-sm-12 my-4">
            <h2 class="font-weight-bold"><span class="text-muted"><u>M</u>is</span> Propiedades</h2>
        </div>
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="card border-light" *ngFor="let picture of pictures">
                    <img class="card-img-top" [src]="picture.img">
                    <div class="card-img-overlay col-sm-12">
                        <div class="card-title">
                            <p class="h4 text-white d-inline"><b>{{ picture.state }}</b></p>
                            <div class="text-white d-inline float-right">
                                <fa-icon class="pr-3 " [icon]="[ 'fas', 'share-alt'] " size="2x "></fa-icon>
                                <fa-icon class="pr-3 " [icon]="[ 'far', 'heart'] " size="2x "></fa-icon>
                                <fa-icon [icon]="[ 'far', 'comment-alt'] " size="2x "></fa-icon>
                            </div>
                        </div>
                        <div class="card-text d-flex bd-highlight">
                            <div class="card-text w-100 ">
                                <p class="h4 text-white ">{{ picture.title }}</p>
                                <p class="card-text text-white ">{{ picture.location }}</p>
                            </div>
                            <div class="card-text flex-shrink-1 ">
                                <p class="h4 text-white ">${{ picture.price }}</p>
                                <p class="card-text text-white text-right ">{{ picture.period }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <p class="card-text ">
                            <fa-icon [icon]="[ 'fas', 'expand-arrows-alt'] " size="2x "></fa-icon> 50&nbsp;&nbsp;
                            <fa-icon [icon]="[ 'fas', 'bed'] " size="2x "></fa-icon> 2&nbsp;&nbsp;
                            <fa-icon [icon]="[ 'fas', 'toilet'] " size="2x "></fa-icon> 1&nbsp;&nbsp;
                            <!-- <fa-icon [icon]="[ 'fas', 'plus-circle'] " size="2x "></fa-icon> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Fourth section: Explorar -->
    <div class="row col-12 m-0 p-0 ">
        <div class="col-sm " style="background-color: #0D62B7;border-right: 1px solid white; ">
            <div class="col-sm-12 mx-0 p-0 my-4 ">
                <h3 class="font-weight-bold text-white "><span class="txt-muted "><u>E</u>xplorar</span> Zonas </h3>
            </div>
            <div class="card-deck ">
                <div class="card border-0 mb-3 bg-transparent " style="max-width: 15rem; " *ngFor="let picture of picturesZone ">
                    <img class="card-img-top " [src]="picture.img ">
                    <div class="card-img-overlay right ">
                        <a class="badge rounded-circle badge-dark align-middle " style="width: 70px; height: 70px; ">
                            <h6 class="text-white ">+{{ countNews }}<br>NUEVAS</h6>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title text-white ">Zona {{ picture.zone }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm " style="background-color: #0D62B7;border-left: 1px solid white; ">
            <div class="col-sm-12 mx-0 p-0 my-4 ">
                <h3 class="font-weight-bold text-white "><span class="txt-muted "><u>E</u>xplorar</span> Categorías </h3>
            </div>
            <div class="card-deck ">
                <div class="card border-0 mb-3 bg-transparent " style="max-width: 15rem; " *ngFor="let picture of picturesZone ">
                    <img class="card-img-top " [src]="picture.img ">
                    <div class="card-img-overlay ">
                        <a class="badge rounded-circle badge-dark align-middle " style="width: 70px; height: 70px; ">
                            <h6 class="text-white ">+{{ countNews }}<br>NUEVAS</h6>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title text-white ">{{ picture.categ }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>