<div class="fondo">
    <div class="col-12 mt-5 pt-5">
        <div class="row my-5">
            <div class="col-11">
                <div class="txt-right">
                    <h2 mat-dialog-title><small class="txt-title-muted">Agendar </small><span class="txt-title"> Cita</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-12 borde row">
                <div class="col-9">
                    <!-- Calendar Week -->
                    <app-week [viewDate]="viewDate" [listDates]="listDates"></app-week>
                </div>
                <div class="col-3">
                    <!-- Calendar Month -->
                    <div class="inline-flatpickr">
                        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="viewDate" [altInput]="true" [convertModelValue]="true" [inline]="true">
                    </div>
                    <br>
                    <!-- Nav Dates -->
                    <app-form-event [listDates]="listDates"></app-form-event>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>