<div class="row col-sm-12 m-0 p-0 " style="height: 400px ">
    <img src="./assets/img/imgPrueba.png " class="img-fluid w-100 " />
    <div class="img-overlay">
        <div class="row align-items-center text-center p-0 m-0 ">
            <div class="col-sm ">
                <div class="col-sm-12 mx-0 p-0 my-4 ">
                    <p class="h3 text-white "><strong>¿Quieres <span class="h1 ">Publicar</span>?</strong></p>
                    <p class="h3 text-white "><strong>Unete a SeguRenta</strong></p>
                </div>
                <button class="btn btn-outline-dark m-1 " type="button ">Beneficios</button>
                <button class="btn btn-dark m-1 " type="button ">Regístrate</button>
            </div>
            <div class="col-sm ">
                <div class="col-sm-12 d-none d-lg-block">
                    <a href="{{link.linkAppStore}}" target="_blank " class="bg-transparent m-1 ">
                        <img src="./assets/img/appstore.png ">
                    </a>
                    <a href="{{link.linkPlayStore}}" target="_blank " class="bg-transparent m-1 ">
                        <img src="./assets/img/googleplay.png ">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>