<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="soli-tab" data-toggle="tab" href="#soli" role="tab" aria-controls="soli" aria-selected="true">SOLICITUDES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="most-tab" data-toggle="tab" href="#most" role="tab" aria-controls="most" aria-selected="false">MOSTRADAS</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content scroll-cita" id="myTabContent">
    <div class="tab-pane fade show active" id="soli" role="tabpanel" aria-labelledby="soli-tab">
        <ul class="list-unstyled">
            <li *ngFor="let item of listDates | datesfilter: 'estatus' : 1">
                <div class="row padding-cero">
                    <div class="col-3 padding-cero">
                        <img class="imgRedonda" src="{{item.url_imagen}}" alt="{{item.nombre_inquilino}}">
                    </div>
                    <div class="col-9 padding-cero">
                        <p class="mt-0 mb-1 text-detail text-left">
                            <strong class="title-cita">{{item.nombre_inquilino}}</strong> solicitó cita:<br> miércoles, 1 de mayo de 2019 <br> 3:00 PM a 4:00 PM
                        </p>
                    </div>
                    <div class="col-6 padding-cero" style="text-align: right;">
                        <button type="button" (click)="updateDate(item.id, 5)" class="btn btn-primary btn-sm btn-citas">Cancelar</button>
                    </div>
                    <div class="col-6 padding-cero">
                        <button type="button" (click)="updateDate(item.id, 3)" class="btn btn-primary btn-sm btn-citas">Guardar</button>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
    </div>
    <div class="tab-pane fade" id="most" role="tabpanel" aria-labelledby="most-tab">
        <ul class="list-unstyled">
            <li *ngFor="let item of listDates | datesfilter: 'estatus' : 2">
                <div class="row padding-cero">
                    <div class="col-3 padding-cero">
                        <img class="imgRedonda" src="{{item.url_imagen}}" alt="{{item.nombre_inquilino}}">
                    </div>
                    <div class="col-9 padding-cero">
                        <p class="mt-0 mb-1 text-detail text-left">
                            <strong class="title-cita">{{item.nombre_inquilino}}</strong><br> miércoles, 1 de mayo de 2019 <br> 3:00 PM a 4:00 PM
                        </p>
                    </div>
                    <div class="col-6 padding-cero" style="text-align: right;">
                        <button type="button" (click)="updateDate(item.id, 5)" class="btn btn-primary btn-sm btn-citas">Finalizar</button>
                    </div>
                    <div class="col-6 padding-cero">
                        <button type="button" (click)="updateDate(item.id, 4)" class="btn btn-primary btn-sm btn-citas">Perfilar</button>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
    </div>
</div>