<div class="txt-right">
    <h2 mat-dialog-title><small class="txt-title-muted">Recuperar </small><span class="txt-title"> Contraseña</span></h2>
</div>
<br><br>
<div class="row">
    <div class="col-6">
        <div class="example-button-row">
            <h1 class="txt-muted full-width instrucciones">Ingresa tu email y te enviaremos un link para restaurar tu contraseña</h1>
        </div>
    </div>
    <div class="col-6">
        <form class="my-form" [formGroup]="recoveryForm" (ngSubmit)="send()" novalidate>
            <mat-form-field class="col-12 my-2">
                <input type="email" class="input-form" matInput placeholder="Correo Electrónico" formControlName="email" autocomplete="off" required>
                <mat-error *ngIf="recoveryForm.get('email').invalid">{{getErrorMessage("email")}}</mat-error>
            </mat-form-field>
            <button type="submit" class="custom-button full-width" mat-raised-button color="primary">Envíar</button>

            <mat-error class="mt-4 text-center">{{errorSend}}</mat-error>
        </form>
        <br>
        <p class="txt-muted txt-center">
            <small>El correo puede tardar un minuto en llegar. Revisa tu spam.
            <!-- <a routerLink="/password-recovery">Volver a envíar</a> -->
            </small>
        </p>
    </div>
</div>