<div class="col-12 mt-5 pt-5">
    <div class="row">
        <div class="col-11">
            <div class="text-right align-middle">
                <h2><small class="txt-title-muted">Paso {{n}} </small><span class="txt-title"> Perfilar Inquilino</span></h2>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row"> -->
<div class="container-fluid" style="min-height: 35vw;">
    <div class="row">
        <div class="col-1 text-center">
            <div class="row">
                <div class="col-12 my-3 ">
                    <button (click)="step(1)" class="btn btn-sm btn-dark rounded-circle active" style="height: 40px; width: 40px ">
                        1
                    </button>
                </div>
                <div class="col-12 my-3 ">
                    <button (click)="step(2)" class="btn btn-sm btn-dark rounded-circle " style="height: 40px; width: 40px ">
                        2
                    </button>
                </div>
                <div class="col-12 my-3 ">
                    <button (click)="step(3)" class="btn btn-sm btn-dark rounded-circle " style="height: 40px; width: 40px ">
                       3
                    </button>
                </div>
                <div class="col-12 my-3 ">
                    <button (click)="step(4)" class="btn btn-sm btn-dark rounded-circle " style="height: 40px; width: 40px ">
                        4
                    </button>
                </div>
            </div>
        </div>
        <div class="col-11">
            <div class="row">
                <div *ngIf="n === 1" class="container">
                    <!-- <div class="col-12"> -->
                    <h4 class="mb-3">Datos para Contrato</h4>
                    <div class="row">
                        <mat-radio-group class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <mat-radio-button value="1" class="col-6">Amplia</mat-radio-button>
                                    <p class="small text-break">SeguRenta es tu aval. Valor de la cobertura 50% e la primera renta.</p>
                                </div>
                                <div class="col-6">
                                    <mat-radio-button value="2" class="col-6">Básica</mat-radio-button>
                                    <p class="small text-break">Tienes aval propio. Valor de la cobertura 25% de la primera renta.</p>
                                </div>
                            </div>
                        </mat-radio-group>
                    </div>
                    <div class="row">
                        <div class="accordion" id="accordionDiv">
                            <div class="row mb-4">
                                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <button class="btn btn-sm rounded-circle" style="height: 30px; width: 30px; color: white; background-color: #FF4D00;">
                                        +
                                    </button> Datos Arrendatario
                                </a>
                                <div class="col-12">
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionDiv">
                                        <mat-form-field class="col-4">
                                            <mat-label>Tipo persona</mat-label>
                                            <select matNativeControl>
                                                <option *ngFor="let item of tipoPersona" [value]="item.id">{{ item.value }}</option>
                                            </select>
                                        </mat-form-field>
                                        <mat-form-field class="col-8">
                                            <input autocomplete="off" type="text" matInput placeholder="Razón social">
                                        </mat-form-field>
                                        <mat-form-field class="col-8">
                                            <input autocomplete="off" type="text" matInput placeholder="Nombre Completo">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Identificación">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Ocupación">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Cónyuge">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Fecha de nacimiento">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Lugar de nacimiento">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Nacionalidad">
                                        </mat-form-field>
                                        <mat-radio-group class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <mat-radio-button value="1" class="col-6">Hombre</mat-radio-button>
                                                </div>
                                                <div class="col-6">
                                                    <mat-radio-button value="2" class="col-6">Mujer</mat-radio-button>
                                                </div>
                                            </div>
                                        </mat-radio-group>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Edad">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Estado civil">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="CURP">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Domicilio particular">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Delegación/Municipio">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Estado">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Código Postal">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Domicilio Lugar de Trabajo">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Delegación/Municipio Trabajo">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Estado Trabajo">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Código Postal Trabajo">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Puesto">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Salario">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Teléfono de Casa">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Teléfono de Oficina">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Extensión">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Celular">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Otro">
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Correo Electrónico">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <button class="btn btn-sm rounded-circle" style="height: 30px; width: 30px; color: white; background-color: #FF4D00;">
                                        +
                                    </button> Datos Fiador
                                </a>
                                <div class="col-12">
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionDiv">
                                        <mat-form-field class="col-12 mt-3">
                                            <mat-label>Tipo persona</mat-label>
                                            <select matNativeControl>
                                                <option>Selecciona</option>
                                            </select>
                                        </mat-form-field>
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Nombre">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <button class="btn btn-sm rounded-circle collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="height: 30px; width: 30px; color: white; background-color: #FF4D00;">
                                    +
                                </button> Datos del Inmueble
                                <div class="col-12">
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionDiv">
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Nombre">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <button class="btn btn-sm rounded-circle collapsed" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth" style="height: 30px; width: 30px; color: white; background-color: #FF4D00;">
                                    +
                                </button> Referencias
                                <div class="col-12">
                                    <div id="collapseFourth" class="collapse" aria-labelledby="headingFourth" data-parent="#accordionDiv">
                                        <mat-form-field class="col-12">
                                            <input autocomplete="off" type="text" matInput placeholder="Nombre">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div *ngIf="n === 2" class="container">
                    <h3 class="mb-5">Alta Propietario</h3>

                    <div class="row">
                        <div class="col-5">
                            <div class="row">
                                <mat-form-field class="col-12">
                                    <input autocomplete="off" [(ngModel)]="searchText" type="text" matInput placeholder="Búsqueda por CURP">
                                    <!-- <fa-icon matSuffix [icon]="['fas', 'search']"></fa-icon> -->
                                </mat-form-field>
                                <div class="col-12">
                                    <div class="container-owners">
                                        <mat-nav-list class="col-12 p-0">
                                            <ng-container *ngFor="let c of owners | filter:searchText:'name'">
                                                <a mat-list-item>
                                                    <p matLine class="text-truncate"> {{ c.name }} </p>
                                                    <p matLine class="thin">
                                                        <span> {{ c.CURP }} </span>
                                                    </p>
                                                </a>
                                            </ng-container>
                                        </mat-nav-list>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
                <div *ngIf="n === 3" class="container">
                    <h3 class="mb-5">Escaneo de Documentos</h3>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <label class="col-12">Identificación Oficial</label>
                                <div class="row">
                                    <div class="col">
                                        <app-upload-image></app-upload-image>
                                    </div>
                                    <div class="col">
                                        <app-upload-image></app-upload-image>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>

                <div *ngIf="n === 4" class="col-12">
                    <div class="col-12 row">
                        <div class="col-5">
                            <label class="col-12">Pago</label>
                            <div class="col-12">
                                <button class="btn btn-lg btn-dark btn-rounded col-12">Generar Código</button>

                            </div>
                            <div class="col-12">
                                <label class="col-12">Tu código de pago:</label>
                                <button class="btn btn-lg btn-primary btn-rounded col-12">UYX189</button>
                            </div>
                            <div class="col-12">
                                <label>Total: $7,600.00</label>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                    <!-- </div>
                                </div> -->
                </div>
            </div>
        </div>
    </div>

</div>