<div class="container-fluid mt-5 pt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item" src="{{ property.urlVideo }}" allowfullscreen autoplay></video>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 col-xl-1 text-center p-0">
                    <div class="row" *ngFor="let item of property.imagenes">
                        <div class="col-12 mb-1">
                            <a>
                                <img src="{{ item.url }}" class="rounded img-responsive" height="50">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="border-right: black 1px solid;">
                    <div class="row">
                        <a class="col-3"><img src="./assets/img/usrPrueba.png" class="rounded-circle" width="70" height="70"></a>
                        <p class="col-6">Horario para agendar una cita: <br>Lun-Sab, 10:00 - 10:45</p>
                        <div class="col-3">
                            <button class="btn btn-dark rounded-circle" style="height: 70px; width: 70px;">
                                <fa-icon [icon]="[ 'far', 'calendar-alt']" size="2x"></fa-icon>
                              </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h2 class="col-12">{{ property.noCitas }} personas citadas</h2>
                    <p class="col-12">Publicado: {{ property.fechaAlta }}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="row">
                        <h4 class="col-12">Características</h4>
                        <div class="col-6 my-1" *ngFor="let item of property.caracteristicas">
                            <div class="row">
                                <div class="col-3">
                                    <fa-icon [icon]="[ item.tipo, item.icono]" size="2x"></fa-icon>
                                </div>
                                <div class="col-3 text-right">
                                    <h3>{{ item.valor }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="row">
                        <h4 class="col-12">Amenidades</h4>
                        <div class="col-2 m-1" *ngFor="let item of property.amenidades">
                            <button class="btn btn-outline-dark rounded-circle" style="height: 75px; width: 75px;">
                                      <fa-icon [icon]="[ item.tipo, item.icono]" size="2x"></fa-icon>
                                  </button>
                        </div>
                    </div>

                    <!-- <div class="col-12" *ngFor="let item of property.amenidades">
                        <button class="btn btn-outline-dark rounded-circle" style="height: 75px; width: 75px;">
                                <fa-icon [icon]="[ item.tipo, item.icono]" size="2x"></fa-icon>
                            </button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <h1 class="col-12" style="color: #808080;"><b>{{ property.alias }}</b></h1>
            <h4 class="col-12">Renta {{ property.periodicidad }}: ${{ property.precioRenta }}</h4>
            <h4 class="col-12">Mantenimiento: ${{ property.mantenimiento }}</h4>

            <p class="col-12 text-justify">{{ property.descripcion }}</p>

            <div class="col-12 text-right">
                <button type="button" class="btn btn-outline-dark">Requisitos</button>
            </div>

            <div class="col-12">
                <h5 class="font-weight-bold"><small class="text-muted"><u>E</u>xplora la zona</small> Puntos de interés</h5>
                <app-map></app-map>
            </div>
        </div>
    </div>
</div>