.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 30%;
}

.img-opacity {
    background-color: rgba(0, 0, 0, 0);
}

.img-opacity:hover {
    background-color: rgba(0, 0, 0, 0.58);
}

#map {
    height: 400px !important;
}