<div class="modal fade pass-recovery-modal mr-0" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="col-12 my-4">
                <!-- <div class="row"> -->
                <div class="col-1">
                    <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
                        <h1 class="thin">X</h1>
                    </button>
                </div>
                <div class="col-11">
                    <div class="text-right align-middle">
                        <h2><small class="txt-title-muted">Recuperar </small><span class="txt-title"> Contraseña</span></h2>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-12 my-4">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="text-muted">Ingresa tu email y te enviaremos un link para restaurar tu contraseña</h1>
                    </div>
                    <div class="col">
                        <form autocomplete="off">
                            <mat-form-field class="col-12">
                                <input type="email" matInput placeholder="Correo Electrónico">
                            </mat-form-field>
                            <div class="flex">
                                <button class="btn btn-rounded btn-block btn-primary">Enviar</button>
                                <p class="text-muted text-center"><small>El correo puede tardar un minuto en llegar. Revisa tu spam. <a>Volver a envíar</a></small></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>