/* 
.bg-img {
    background-image: url('../../../assets/img/bgHome.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-search {
    opacity: 0.8;
    height: 20%;
    font-size: 16pt;
    border-radius: 10px;
    font-size: 4rem !important;
}

.img {
    width: 100%;
    margin-bottom: 18%;
}

.card-picture {
    width: 23%;
    margin-bottom: 2%;
}

.container {
    min-height: 100%;
    width: 100%;
}
 */

.img-wrapper {
    position: relative;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 30%;
}

input.input-transparent {
    background: rgba(255, 255, 255, 0.4) !important;
    border: none !important;
    height: 20%;
    border-radius: 10px;
    font-size: 22pt !important;
    color: white;
}

input.input-transparent::placeholder {
    color: #ddd;
}

.btn-transparent {
    background-color: rgba(255, 255, 255, 0.4) !important;
    border-color: none !important;
}

.btn-dark {
    background-color: #000 !important;
}

.img-opacity {
    background-color: rgb(193, 193, 193, 0.58)
}

.img-opacity:hover {
    background-color: rgba(0, 0, 0, 0);
}
