<div class="col">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"><span class="text-muted"><u>P</u>eticiones Diarias /</span> Mis Citas</h2>
            <div class="card-deck ">
                <div class="card border-0 mb-3 bg-transparent " style="max-width: 15rem; " *ngFor="let picture of picturesZone ">
                    <img class="card-img-top " [src]="picture.img ">
                    <div class="card-img-overlay col-sm-12">
                        <div class="card-title d-flex flex-row align-items-start">
                            <p class="text-white d-inline"><b>{{ picture.state }}</b></p>
                            <div class="text-white text-right">
                                <!-- <fa-icon class="pr-3 " [icon]="[ 'fas', 'share-alt'] "></fa-icon> -->
                            </div>
                        </div>
                        <div class="card-text d-flex flex-row align-items-end bd-highlight">
                            <div class="card-text w-100">
                                <p class="text-white m-0">{{ picture.title }}</p>
                                <p class="card-text text-white m-0">{{ picture.location }}</p>
                            </div>
                            <div class="card-text flex-shrink-1 ">
                                <p class="text-white text-sm-right m-0">{{ picture.date }}</p>
                                <p class="card-text text-white text-right m-0">{{ picture.month }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <button class="btn btn-sm btn-outline-dark float-left" style="border-radius: 15px;" type="button ">Reagendar</button>
                        <button class="btn btn-sm btn-dark float-right" style="border-radius: 15px;" type="button ">Aceptar</button>
                    </div>
                </div>
            </div>
            <div class="card-deck ">
                <div class="card border-0 mb-3 bg-transparent " style="max-width: 15rem; " *ngFor="let picture of picturesZone ">
                    <img class="card-img-top " [src]="picture.img ">
                    <div class="card-img-overlay col-sm-12">
                        <div class="card-title">
                            <p class="text-white d-inline"><b>{{ picture.state }}</b></p>
                            <div class="text-white d-inline float-right">
                                <!-- <fa-icon class="pr-3 " [icon]="[ 'fas', 'share-alt'] "></fa-icon> -->
                            </div>
                        </div>
                        <div class="card-text d-flex bd-highlight">
                            <div class="card-text w-100">
                                <p class="text-white m-0">{{ picture.title }}</p>
                                <p class="card-text text-white m-0">{{ picture.location }}</p>
                            </div>
                            <div class="card-text flex-shrink-1 ">
                                <p class="text-white text-sm-right m-0">{{ picture.date }}</p>
                                <p class="card-text text-white text-right m-0">{{ picture.month }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <button class="btn btn-sm btn-outline-dark float-left" style="border-radius: 15px;" type="button ">Reagendar</button>
                        <button class="btn btn-sm btn-dark float-right" style="border-radius: 15px;" type="button ">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>