<!-- ======================================================= -->
<!-- Main Home Adviser - Aqui se cargan los compoenntes.     -->
<!-- ======================================================= -->

<app-menu></app-menu>

<!-- <app-propiedades-recientes></app-propiedades-recientes>

<app-publicar></app-publicar>

<app-explorar-zona></app-explorar-zona> -->

<!-- ======================================================= -->
<!-- End Main Home Adviser - Aqui se cargan los compoenntes. -->
<!-- ======================================================= -->