<!-- ======================================================= -->
<!-- Main Home Adviser - Aqui se cargan los compoenntes.     -->
<!-- ======================================================= -->

<!-- First section: Header  -->
<div class="row col-sm-12 m-0 p-0" style="height: 600px;">
    <img src="./assets/img/imgPrueba2.png" class="img-fluid w-100 h-100" />
</div>

<app-menu></app-menu>
<br>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <app-request-date></app-request-date>
    </div>
    <div class="col-lg-6 col-md-12">
        <app-in-progress></app-in-progress>
    </div>
</div>
<br>

<app-my-property></app-my-property>
<br>
<app-explorar-zona></app-explorar-zona>

<!-- ======================================================= -->
<!-- End Main Home Adviser - Aqui se cargan los compoenntes. -->
<!-- ======================================================= -->