<!-- ======================================================= -->
<!-- Main Home Rent - Aqui se cargan los componentes.     -->
<!-- ======================================================= -->
<app-carousel></app-carousel>
<app-menu></app-menu> 

<app-propiedades-recientes></app-propiedades-recientes>

<app-publicar></app-publicar>
<br>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <app-request-date></app-request-date>
    </div>
    <div class="col-lg-6 col-md-12">
        <app-in-progress></app-in-progress>
    </div>
</div>
<br>
<app-explorar-zona></app-explorar-zona>


<!-- ======================================================= -->
<!-- End Main Home Rent - Aqui se cargan los componentes. -->
<!-- ======================================================= -->