<div class="txt-right">
    <h2 mat-dialog-title><small class="txt-muted">Ingresar </small><span class="txt-title"> Login</span></h2>
</div>
<mat-grid-list cols="12" rowHeight="1:3">
    <mat-grid-tile colspan="6">
        <form class="my-form">
            <mat-form-field class="full-width">
                <input type="email" class="input-form" matInput placeholder="Correo Electrónico" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" class="input-form" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                <fa-icon *ngIf="hide" matSuffix (click)="hide = !hide" [icon]="['fas', 'eye-slash']" size="2x"></fa-icon>
                <fa-icon *ngIf="!hide" matSuffix (click)="hide = !hide" [icon]="['fas', 'eye']" size="2x"></fa-icon>
                <mat-error *ngIf="password.invalid">{{getErrorMessagePass()}}</mat-error>
            </mat-form-field>
            <a routerLink="/password-recovery">Recuperar mi contraseña</a>
        </form>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <h1 class="txt-muted">ó</h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
        <div class="example-button-row">
            <h1 class="txt-muted full-width">Ingresar con:</h1>
            <div class="flex">
                <button mat-fab class="btn-black">
                        <fa-icon [icon]="['fab', 'facebook-f']" size="2x"></fa-icon>
                    </button>
                <button mat-fab class="btn-black">
                        <fa-icon [icon]="['fab', 'google']" size="2x"></fa-icon>
                    </button>
            </div>
        </div>

    </mat-grid-tile>
</mat-grid-list>

<mat-dialog-actions>
    <div style="">
        <button class="custom-button" mat-raised-button color="primary">Ingresar</button>
    </div>
</mat-dialog-actions>