<nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top">
    <a class="navbar-brand" [routerLink]="['home']">
        <img src="./assets/img/logoSeguRenta_bco.png" width="250" height="70" class="d-inline-block align-top">
    </a>

    <div class="collapse navbar-collapse d-flex justify-content-end">
        <button class="btn btn-sm btn-outline-light m-1" type="button" (click)="openRegister()">Registrarse</button>
        <button class="btn btn-sm btn-outline-light m-1" type="button" (click)="openLogin()">Entrar</button>
    </div>
</nav>