<!-- Second section: Opciones -->
<div class="row col-12 m-0 p-0 ">
    <div class="col-sm text-center text-white pt-3" style="background-color: black;border-right: 1px solid white;">
        <div class="btn-group-vertical align-items-center mx-4">
            <a>
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px; color: white">
                      <!-- <fa-icon [icon]="[ 'far', 'clock']" size="2x"></fa-icon> -->
                </button>
            </a>
            <p>Historial</p>
        </div>
        <div class="btn-group-vertical align-items-center mx-4">
            <a>
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px; color: white">
                          <!-- <fa-icon [icon]="[ 'fas', 'book']" size="2x"></fa-icon> -->
                </button>
            </a>
            <p>Mis Rentas</p>
        </div>
        <div class="btn-group-vertical align-items-center mx-4">
            <a>
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px; color: white">
                          <!-- <fa-icon [icon]="[ 'fas', 'dollar-sign']" size="2x"></fa-icon> -->
                </button>
            </a>
            <p>Mis Comisiones</p>
        </div>
        <div class="btn-group-vertical align-items-center mx-4">
            <a>
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px; color: white">
                          <!-- <fa-icon [icon]="[ 'fas', 'plus']" size="2x"></fa-icon> -->
                </button>
            </a>
            <p>Crear Propiedad</p>
        </div>
        <div class="btn-group-vertical align-items-center mx-4">
            <a href="#">
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px; color: white">
                          <!-- <fa-icon [icon]="[ 'fas', 'home']" size="2x"></fa-icon> -->
                </button>
            </a>
            <p>Procesos</p>
        </div>
        <div class="btn-group-vertical align-items-center mx-4">
            <a>
                <button class="btn btn-outline-dark rounded-circle" style="height: 100px; width: 100px; color: white">
                          <!-- <fa-icon [icon]="[ 'far', 'calendar-alt']" size="2x"></fa-icon> -->
                </button>
            </a>
            <p>Mis Citas</p>
        </div>
    </div>
</div>