<div class="col-12">
    <div class="row">
        <div class="col-1">
            <button type="button" #closeModal class="close">
                        <h1 class="thin">X</h1>
                    </button>
        </div>
        <div class="col-11">
            <div class="text-right align-middle">
                <h2><small class="txt-title-muted">Editar </small><span class="txt-title"> Perfil</span></h2>
            </div>
        </div>
    </div>
</div>
<div class="col-12 my-4">
    <div class="row">
        <div class="col-2 text-center">
            <div class="row">
                <div class="col-12">
                    <div class="col-12">
                        <img [src]="usuario?.urlImagen !== null ? usuario?.urlImagen : './assets/img/user.png'" class="rounded-circle" width="120" height="120">
                        <div class="card-img-overlay p-0">
                            <div class="row box-info d-flex align-content-end flex-wrap">
                                <div class="row box-footer">
                                    <div class="col-12 text-center">
                                        <a>
                                            <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-2">
                    <p class="mb-0">{{ usuario?.nombreUsuario }}</p>
                    <a>Cambiar contraseña</a>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- <div class="row"> -->
            <form [formGroup]="formEditar" autocomplete="off">
                <div class="row">
                    <mat-form-field class="col-12">
                        <input autocomplete="off" type="text" matInput placeholder="Nombre(s)" formControlName="nombres">
                        <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                    </mat-form-field>
                    <div class="col">
                        <div class="row">
                            <mat-form-field class="col-12">
                                <input type="text " matInput placeholder="Apellido Paterno" formControlName="apellidoPaterno">
                                <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <mat-form-field class="col-12">
                                <input type="text" matInput placeholder="Apellido Materno" formControlName="apellidoMaterno">
                                <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="col-12">
                        <input autocomplete="off" type="email" matInput placeholder="Correo Electrónico" formControlName="correoElectronico">
                        <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <input autocomplete="off" type="tel" matInput placeholder="Teléfono" formControlName="telefono">
                        <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Nacionalidad</mat-label>
                        <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                        <select matNativeControl formControlName="nacionalidad">
                                <option *ngFor="let item of catNacionalidades" [ngValue]="item.id">{{item.descripcion}}</option>
                            </select>
                    </mat-form-field>
                </div>
            </form>
            <!-- </div> -->
        </div>
        <div class="col">
            <form [formGroup]="formEditar" autocomplete="off">
                <div *ngIf="esAsesor" class="text-center">
                    <label class="col-12">¿En dónde quiero mis comisiones?</label>
                    <mat-form-field class="col-12">
                        <mat-label>Institución Bancaria</mat-label>
                        <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                        <select matNativeControl formControlName="banco">
                        <option *ngFor="let item of catBancos" [ngValue]="item.id">{{item.corta}}</option>
                    </select>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <input type="text" matInput placeholder="Número de Cuenta" formControlName="clabe">
                        <fa-icon matSuffix [icon]="[ 'fas', 'pen']"></fa-icon>
                    </mat-form-field>
                </div>
                <button class="btn btn-primary btn-rounded col-12" (click)="editar()">Modificar</button>
            </form>
        </div>
    </div>
</div>