.my-drop-zone {
    border: dotted 3px lightgrey;
    background-color: #FFFFFF;
    color: #808080;
    cursor: pointer;
    height: 100px;
}


/* Default class applied to drop zones on over */

.invalid-drag {
    border: dotted 3px red;
}

.valid-drag {
    border: dotted 3px green;
}

.previewIcon {
    border: solid 3px lightgrey;
    width: 100px !important;
    height: 100px !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.inline-block {
    display: inline-block;
    margin: .2em;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
}