<ngfFormData [files]="files" postName="file" [(FormData)]="sendableFormData"></ngfFormData>
<ngfUploadStatus [(percent)]="progress" [httpEvent]="httpEvent"></ngfUploadStatus>

<div class="row">
    <div class="col-12">
        <div style="height: 40vh;" ngfDrop multiple="1" selectable="1" [(files)]="files" [accept]="accept" [maxSize]="maxSizeVideo" class="my-drop-zone" (filesChange)="lastFileAt=getDate()">
            <p *ngIf="files.length === 0; else videoCargado" class="text-center">Video (Max. 5 Mb) <br> Arrastra tu video o da click para subir</p>
            <ng-template #videoCargado>
                <p class="text-center" *ngFor="let file of files">Video Cargado: <br>{{file.name}}<br>{{ file.size/1024/1024 | number:'.2' }} MB</p>
            </ng-template>
        </div>
    </div>
    <a *ngIf="files.length" (click)="files.length=0" class="col-12 text-center text-decoration-none">Quitar video</a>
</div>