.bgBlue {
    background-color: #0D62B7 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
    ;
}

::ng-deep .mat-form-field-placeholder {
    color: #ffffff !important;
}

.btn-white {
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.btn-white:hover {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.active-step {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.inactive-step {
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.modal-xl {
    min-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.modal-xl .modal-content {
    min-height: 100vh !important;
}