<div class="txt-right">
    <h2 mat-dialog-title><small class="txt-title-muted">Crear </small><span class="txt-title"> Propiedad </span></h2>
</div>
<mat-vertical-stepper #stepper>
    <mat-step>
        <form>
            <ng-template matStepLabel>Fotos y video</ng-template>
            <div class="col-12 row">
                <div class="col-8">
                    <div class="row">
                        <h3>Arrastra tus archivos o da click para subir</h3>
                    </div>
                    <div class="row">
                        <app-upload-image></app-upload-image>
                    </div>
                </div>
                <div class="col-4">
                    <app-upload-video></app-upload-video>
                </div>
            </div>
            <button class="btn btn-outline-dark btn-sm" matStepperNext>Siguiente</button>
        </form>
    </mat-step>
    <mat-step>
        <form autocomplete="off">
            <ng-template matStepLabel>Clasificación y precio</ng-template>
            <h3>Tipo de Propiedad</h3>
            <div class="col-12">
                <button type="button" class="btn rounded btn-outline-dark col-2 m-1" [ngClass]="{
                    'active': item.selected,
                    'inactive': !item.selected }" (click)="selectProperty(item.id)" *ngFor="let item of typeProperties">
                    {{ item.value }}
                </button>
            </div>
            <h3>Precio</h3>
            <div class="d-inline mr-5">
                <mat-label>$ </mat-label>
                <mat-form-field>
                    <input type="number" matInput required>
                </mat-form-field>
                <mat-label> Renta al mes</mat-label>
            </div>
            <div class="d-inline mx-5">
                <mat-label>$ </mat-label>
                <mat-form-field>
                    <input type="number" matInput required>
                </mat-form-field>
                <mat-label> Precio de venta</mat-label>
            </div>
            <div class="d-inline ml-5">
                <mat-label>$ </mat-label>
                <mat-form-field>
                    <input type="number" matInput required>
                </mat-form-field>
                <mat-label> Mantenimiento</mat-label>
            </div>
            <div>
                <button class="btn btn-outline-dark btn-sm" matStepperPrevious>Anterior</button>
                <button class="btn btn-outline-dark btn-sm" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Dirección</ng-template>
        <h3>Dirección de la Propiedad</h3>
        <div class="col-12 row">
            <div class="col-5">
                <app-map></app-map>
            </div>
            <div class="col">
                <form autocomplete="off">
                    <mat-form-field class="full-width">
                        <input type="text" matInput placeholder="Nombre del inmueble (Alias)" required>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-8">
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Calle, Num. Ext. e Int." required>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="C.P." required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Del." required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Col." required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Ciudad" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="País" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Descripción general de la propiedad" required></textarea>
                    </mat-form-field>
                </form>
                <div>
                    <button class="btn btn-outline-dark btn-sm" matStepperPrevious>Anterior</button>
                    <button class="btn btn-outline-dark btn-sm" matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Características</ng-template>
        <div class="col-12 row">
            <div class="col-6">
                <h3>Características</h3>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        <fa-icon [icon]="[ 'fas', 'toilet']"></fa-icon>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">
                            <fa-icon [icon]="[ 'fas', 'expand-arrows-alt']"></fa-icon>
                        </label>
                </div>
            </div>
            <div class="col-6">
                <div class="col-12">
                    <h3>Reglas</h3>
                    <div class="form-check form-check-inline col-4" *ngFor="let item of rules">
                        <input class="form-check-input" type="checkbox" [id]="'R'+item.id">
                        <label class="form-check-label" [for]="'R'+item.id">
                            {{ item.value }}
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <h3>Comodidades</h3>
                    <div class="form-check form-check-inline col-4" *ngFor="let item of amenities">
                        <input class="form-check-input" type="checkbox" [id]="'A' + item.id">
                        <label class="form-check-label" [for]="'A' + item.id">
                                {{ item.value }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-outline-dark btn-sm" matStepperPrevious>Anterior</button>
            <button class="btn btn-outline-dark btn-sm" [routerLink]="['property-detail']" (click)="closeDialog()">Guardar</button>
        </div>
    </mat-step>
</mat-vertical-stepper>