<div class="modal fade renter-profiler-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="col-12">
                <div class="row">
                    <div class="col-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-muted" style="font-size: 100px;">&times;</span>
                      </button>
                    </div>
                    <div class="col-11">
                        <div class="txt-right">
                            <h2><small class="txt-title-muted">Paso 1</small><span class="txt-title"> Perfilar Inquilino</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h4 class="col-12">Generar contrato</h4>
                        <form class="col-12">
                            <div class="form-group">
                                <label for="selectArrendador">Arrendador</label>
                                <select class="form-control" id="selectArrendador">
                                    <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                        {{item.value}}
                                    </option>
                                  </select>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="form-check col-6">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [value]="false" [checked]="!hasGuarantee">
                                        <label class="form-check-label" for="inlineRadio1">Segurenta es tu aval</label>
                                        <br><small>Valor de la cobertura: 50% de la primer renta</small>
                                    </div>
                                    <div class="form-check col-6">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [value]="true" [checked]="hasGuarantee">
                                        <label class="form-check-label" for="inlineRadio2">Tienes aval</label>
                                        <br><small>Valor de la cobertura: 25% de la primer renta</small>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="hasGuarantee">
                                <div class="form-group">
                                    <label for="selectObligado">Obligado</label>
                                    <select class="form-control" id="selectObligado">
                                        <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                            {{item.value}}
                                        </option>
                                      </select>
                                </div>
                                <div class="form-group">
                                    <label for="selectAval">Aval</label>
                                    <select class="form-control" id="selectAval">
                                        <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                            {{item.value}}
                                        </option>
                                      </select>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-outline-dark">Generar contrato</button>
                            </div>
                        </form>
                        <!-- <select class="col-12">
                          <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                              {{item.value}}
                          </option>
                        </select>
                        <div class="col-12">
                            <div class="row">
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Segurenta es tu aval</label>
                                    <br><small>Valor de la cobertura: 50% de la primer renta</small>
                                </div>
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Tienes aval</label>
                                    <br><small>Valor de la cobertura: 25% de la primer renta</small>
                                </div>
                            </div>
                        </div>
                        <select class="col-12">
                            <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                {{item.value}}
                            </option>
                          </select> -->

                        <!-- <mat-form-field>
                            <mat-label>Arrendador</mat-label>
                            <mat-select>
                                <mat-option class="custom-Z" *ngFor="let item of catalogTypePerson" [value]="item.id">
                                    {{item.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-3">Jumbo heading</h1>
                            <p class="lead">Jumbo helper text</p>
                            <hr class="my-2">
                            <p>More info</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h4 class="col-12">Generar contrato</h4>
                        <form class="col-12">
                            <div class="form-group">
                                <label for="selectArrendador">Arrendador</label>
                                <select class="form-control" id="selectArrendador">
                                    <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                        {{item.value}}
                                    </option>
                                  </select>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="form-check col-6">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                                        <label class="form-check-label" for="inlineRadio1">Segurenta es tu aval</label>
                                        <br><small>Valor de la cobertura: 50% de la primer renta</small>
                                    </div>
                                    <div class="form-check col-6">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2">
                                        <label class="form-check-label" for="inlineRadio2">Tienes aval</label>
                                        <br><small>Valor de la cobertura: 25% de la primer renta</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selectObligado">Obligado</label>
                                <select class="form-control" id="selectObligado">
                                    <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                        {{item.value}}
                                    </option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label for="selectAval">Aval</label>
                                <select class="form-control" id="selectAval">
                                    <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                        {{item.value}}
                                    </option>
                                  </select>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-outline-dark">Generar contrato</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-3">Jumbo heading</h1>
                            <p class="lead">Jumbo helper text</p>
                            <hr class="my-2">
                            <p>More info</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h4 class="col-12">Generar contrato</h4>
                        <form class="col-12">
                            <div class="form-group">
                                <label for="selectArrendador">Arrendador</label>
                                <select class="form-control" id="selectArrendador">
                                    <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                        {{item.value}}
                                    </option>
                                  </select>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="form-check col-6">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Segurenta es tu aval</label>
                                        <br><small>Valor de la cobertura: 50% de la primer renta</small>
                                    </div>
                                    <div class="form-check col-6">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Tienes aval</label>
                                        <br><small>Valor de la cobertura: 25% de la primer renta</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selectObligado">Obligado</label>
                                <select class="form-control" id="selectObligado">
                                    <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                        {{item.value}}
                                    </option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label for="selectAval">Aval</label>
                                <select class="form-control" id="selectAval">
                                    <option *ngFor="let item of catalogTypePerson" [value]="item.id">
                                        {{item.value}}
                                    </option>
                                  </select>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-outline-dark">Generar contrato</button>
                            </div>
                        </form>

                    </div>
                    <div class="col-6">
                        <div class="jumbotron">
                            <h1 class="display-3">Jumbo heading</h1>
                            <p class="lead">Jumbo helper text</p>
                            <hr class="my-2">
                            <p>More info</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>